{% extends 'dashboard_base.html' %}
{% block title %}
    <title>Writer Dashboard</title>
{% endblock %}

{% block content %}
<h1>Writer Dashboard</h1>

<form action="" method="POST">{% csrf_token %}

<button type="submit" name="Accept" value="Accept"><b>Accept</b></button>
<button type="submit" name="Deny" value="Deny"><b>Deny</b></button>
<button type="submit" name="Review" value="Review"><b>Review</b></button>
<button type="submit" name="Complete" value="Complete"><b>Complete</b></button>
<button><a href = "{% url 'upload_view2' %}">View Upload<a/></button>
<button><a href = "{% url 'writer_more_info' %}">Request More Info<a/></button>



<table>
    <tr>
        <th style="width:2%"></th>
        <th>Requester</th>
        <th>Requester Email</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Requested On</th>
        <th>Position</th>
    </tr>
    {% for lor in sorted_lors %}
    <tr>
        <td>
            <label><input type="checkbox" name="sel_box" value="{{ lor.id }}"/>
            </label>
        </td>
        <td>
            {{ lor.requester }}
        </td>
        <td>
            {{ lor.requester_email }}
        </td>
        <td>
            {{ lor.status }}
        </td>
        <td>
            {{ lor.due_date }}
        </td>
        <td>
            {{ lor.request_date }}
        </td>
        <td>
            {{ lor.position }}
        </td>
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}