<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="UTF-8">
   <title>Review Requests</title>
</head>
<body>
<h1 style="text-align: center;"></h1>
<hr>
{% for obj in objs %}
<h1 style="text-align: left;font-size:100%;">Requester:

{{obj.requester}}
   </h1>
<table style="width:100%">
 <tr>
     <td style="text-align: left;font-size:100%;">Requester Email:
{{obj.requester_email}}
   </td>
   <td style="text-align: left;font-size:100%;">Position:
{{obj.position}}
   </td>
  <td style="text-align: left;font-size:100%;">Due Date:
{{obj.due_date}}
   </td>
   <td style="text-align: left;font-size:100%;">Requested On:
{{obj.request_date}}
   </td>
</tr>

 <tr>
     <td style="text-align: left;font-size:100%;">Company:
{{obj.company_name}}
   </td>
     <td style="text-align: left;font-size:100%;">Company Email:
{{obj.company_email}}
   </td>
     <td style="text-align: left;font-size:100%;">Website:
{{obj.company_website}}
   </td>
     <td style="text-align: left;font-size:100%;">Status:
{{obj.status}}
   </td>
 </tr>
 <tr>
     <td style="text-align: left;font-size:100%;">Destination:
{{obj.company_name}}
   </td>
     <td style="text-align: left;font-size:100%;">Recipients:
{{obj.company_recipients}}
   </td>

 </tr>
   <tr>
           <td><label for="resume">Resume</label><br/>
           <textarea id="Resume" name="Resume" rows="5">{{obj.resume}}</textarea>
       </td>
   </tr>

    <tr>
           <td><label for="transcript">Transcript</label><br/>
           <textarea id="Transcript" name="Transcript" rows="5">{{obj.transcript}}</textarea>
       </td>
   </tr>

    <tr>
           <td><label for="cover letter">Cover Letter</label><br/>
           <textarea id="Cover Letter" name="Cover Letter" rows="5">{{obj.cv}}</textarea>
       </td>
   </tr>

</table>
<hr>
{% endfor %}

<form action="/writer_rev/" method="POST">{% csrf_token %}
   <button type="submit" name="Close" value="Close"style="float: right;"><b>Close</b></button>
</form>
</body>
</html>

